*{
margin: 0;
padding: 0;

}
.cabecalho-lista-item{
display: inline;
 margin: 0 16px;
 padding: 24px 0;
 font-size: 24px;
}

.cabecalho{
    background-color: #383d58;
    color:white;
    display:flex;
    justify-content:  space-around;
    padding: 24px 0;
  }

  body{
    background-color:#383d58;
    color: white;
    
  }